* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #659f8f; /* Light theme */
    color: white;
    padding: 20px 0;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: #313131; /* Dark theme */
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.logo {
    height: 30px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.divider {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}

.copyright {
    font-size: 12px;
}
